# Ignore node packages
node_modules/
package.json
package-lock.json

# Ignore project configurations
.prettierrc.json
.prettierignore
next-env.d.ts
ormconfig.json
tsconfig.json

# Ignore VSCode
.vscode